<div 
  bc-card
  {{#if type}}typeCard="{{type}}"{{/if}}
  {{#if backgroundColor}}backgroundColor="{{backgroundColor}}"{{/if}}
  {{#if class}}class="{{class}}"{{/if}}>
  <!-- Contenido de la card -->
  {{#if content}}{{content}}{{else}}Contenido de la tarjeta{{/if}}
</div> 